@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
    margin-left: auto;
    margin-right: auto;
}

.imagens1{
    float: right;
    height: 100%;
    width: 100%;
    text-align: center;
}

.imagens{
    width: 30%;
    float: left;
    margin: 1.6666666666%;
}

p{
    margin-left: 1.6666666666%;
    margin-right: 1.6666666666%;
    border-bottom: 2px solid black;
    font-family: "PT Sans Narrow","sans-serif";
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

#voltar{
    border-bottom: 0px solid black;
    float: right;
}

a:active{
    color: black;
}
a:link{
    color: black;
}
a{
    text-decoration: none;
}